<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>BookieBoard Admin Panel</title>
    </head>
    <body>
        <h1>BookieBoard Admin Page</h1>
        <p>See available admin options below.</p>
        <ul>
            <li><p><a th:href="@{/admin/questions/add}">Add New Question</a></p></li>
            <li><p><a th:href="@{/admin/questions}">View All Questions</a></p></li>
            <li><p><a th:href="@{/admin/signup}">Create New Admin</a></p></li>
        </ul>

        <p>Nothing more to do?</p>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </body>
</html>